@{
    ViewData["Title"] = "Home Page";
}

<container class="h-100">
<div class="text-center">
    <div class="">
        <h1 class="display-4 ">Películas Web</h1>
    </div>
    <p>Bienvenido a su gestor de películas</p>
</div>
</container>