@model PeliculasWeb.Models.Pelicula

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pelicula</h4>
<hr />
<div class="row">
    <div class="col-md-4">
       <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FechaEstreno" class="control-label"></label>
                <input asp-for="FechaEstreno" class="form-control" />
                <span asp-validation-for="FechaEstreno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombrePelicula" class="control-label"></label>
                <input asp-for="NombrePelicula" class="form-control" />
                <span asp-validation-for="NombrePelicula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                <select asp-for="GeneroId" class="form-control" asp-items="ViewBag.GeneroId"></select>
                <span asp-validation-for="GeneroId" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Sipnosis" class="control-label"></label>
                <input asp-for="Sipnosis" class="form-control" />
                <span asp-validation-for="Sipnosis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actor" class="control-label"></label>
                <select asp-for="ActorId" class ="form-control" asp-items="ViewBag.ActorId"></select>
                <span asp-validation-for="ActorId" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Director" class="control-label"></label>
                <select asp-for="DirectorId" class ="form-control" asp-items="ViewBag.DirectorId"></select>
                <span asp-validation-for="DirectorId" class="text-danger"></span>

            </div>

            <div class="form-group">
                <label class="control-label">Agregar Portada</label>
                <input type="file" name="ImagenArchivo" class="form-control" />

            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
